.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-height: 30rem;

  :first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
  }
}

.pagination {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  gap: 1rem;
  padding: 1rem;

  button {
    padding: 1rem;
    background-color: #222;
    border-radius: 99999px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    opacity: 0.8;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3; // Add a background color for disabled state
      background: #666; // Add a text color for disabled state
    }
  }
}
