.card {
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
  }

  .pricing {
    padding: 0.5rem;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subtitles {
      p:last-child {
        font-size: 0.7rem;
        color: #444;
      }
    }

    button {
      aspect-ratio: 1;
      height: 100%;
      display: grid;
      place-items: center;
      transition: all 0.15s;
    }

    button:hover {
      background-color: #eee;
    }
    button:active {
      background-color: #d3d3d3;
    }
  }
}
