.hero {
  width: calc(100% - 4rem);
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: 5rem;
  border-radius: 2rem;
  padding: 5rem 1rem;
  color: white;

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-position: bottom;
    filter: brightness(0.65);
  }

  h1 {
    font-weight: 500;
    font-size: 5rem;
    line-height: 1;
  }
}
