@import "@/utils/variables.scss";

.listing {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  border-radius: $borderRadius;
  max-width: 30rem;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: $borderRadius;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    width: 100%;
    padding: 0.5rem 0;

    h3 {
      font-size: 1.3rem;
      font-weight: 500;
    }

    p {
      font-size: 1.3rem;
      font-weight: 600;
      color: $primaryDarken;
    }
  }
}
