@import "@/utils/variables.scss";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }

    button {
      padding: 0.5rem;
      background-color: $primary;
      color: #333;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $primaryDarken;
      }
    }
  }
}
