@import "@/utils/variables.scss";
$fontColor: #242424;

.form {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: $borderRadius;
  gap: 0.5rem;
  background: $primary;
  color: $fontColor;

  p {
    font-size: 2rem;
    font-weight: 600;
  }

  input,
  textarea {
    padding: 0.5rem 0.3rem;
    color: $fontColor;
    font-size: 1.2rem;
    border-bottom: 2px solid $fontColor;
    width: 100%;
  }

  input::placeholder,
  textarea::placeholder {
    color: $fontColor;
  }

  input:is(:-webkit-autofill, :autofill) {
    background: transparent !important;
    color: $fontColor !important;
  }

  input[type="checkbox"] {
    width: fit-content;
  }

  div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .hidden {
    width: 0;
    height: 0;
    transform: scale(0);
  }
}
